body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #798acd, #840ba9, #2f6e6c, #69b998);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: white;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.8s ease;
  }
  
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  
  .quote-box {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
  }
  
  button {
    font-family: 'Inter', sans-serif;
  }
  .fade-in {
    animation: fade 0.8s ease-in;
  }
  
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }
    